#search-results {
    z-index: 50;
    max-height: 400px;
    overflow-y: auto;
}

#search-results::-webkit-scrollbar {
    width: 8px;
}

#search-results::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#search-results::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#search-results::-webkit-scrollbar-thumb:hover {
    background: #666;
}